
body{
  background-color:#9381FF;
  font-size:15px;
  font-family:serif;
  width:80wv;
  padding:20px;
}

head{
  font-family:"Paris";
  font-size:35px;
}

h2{
  font-size:25px;
  font-family:"Paris";
}

h3{
  font-size:20px;
}

p{
  font-size:15px;
  font-family:"Tahoma";
  color:hotpink
}

