
body{
  background-color:#9381FF;
  font-size:15px;
  font-family:serif;
  width:80%;
  padding:20px;
}

title{
  font-size:50px;
  font-family:"Paris";
  color:white;
  padding:20px;
}

head{
  font-family:"Paris";
  font-size:35px;
  color:white;
}

h2{
  font-size:25px;
  font-family:"Georgia";
}

h3{
  font-size:20px;
  font-family:"Georgia"
}

p{
  font-size:15px;
  font-family:"Tahoma";
  color:plum;
}

ul{
  list-style-type: none;
  background-color:peachpuff;
  text-align:center;
  padding:20px;
}

a{
  color:#F8F7FF;
  border-radius: 10px;
  text-decoration:none;
  padding-left:10px;
  padding-right:10px;
}

a:hover{
  font-weight:bolder;
  color:#F8F7FF;
  padding:17px;
}