
body{
  background-image: url('pinkbackground.jpg'); /* Replace with your image path */
  background-repeat: no-repeat; /* Prevents image repetition */
  background-size: cover; /* Stretches image to cover the entire background */
  background-position: center; /* Centers the image */
  background-color:#9381FF;
  font-size:15px;
  font-family:serif;
  padding:20px;
  margin: 0 auto;
  text-align:center;
  width:70%;
}

h1{
  font-size:100px;
  font-family:"Paris";
  color:white;
  padding:20px;
  text-align:center;
  width:80wv;
}

head{
  font-family:"Paris";
  font-size:35px;
  color:white;
  text-align:center;
}

h2{
  font-size:25px;
  font-family:"Georgia";
  text-align:center;
}

h3{
  font-size:20px;
  font-family:"Georgia"
  text-align:center;
}

p{
  font-size:15px;
  font-family:"Tahoma";
  color:#230903;
  text-align:center;
}

ul{
  list-style-type: none;
  background-color:peachpuff;
  text-align:center;
  padding:20px;
  width:70wv;
}

a{
  color:#F8F7FF;
  border-radius: 10px;
  text-decoration:none;
  padding-left:10px;
  padding-right:10px;
}

a:hover{
  font-weight:bolder;
  color:#F8F7FF;
  padding:17px;
}

img{
  display:flex;
  float:right;
  margin:0 auto;
  width:200px;
  height:auto;
}
.description{
  color:#AB4E68;
  font-style: italic;
}
